/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.led-off, .led-on {
  width: 0.2rem;
  height: 0.2rem;
  margin: 0.2rem;
  border-radius: 50%;
}

.led-off {
  background-color: black;
}

.led-on {
  background-color: red;
  box-shadow: 0rem 0rem 0.4rem 0.2rem red;
}

.panel {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 3fr 2fr 1fr;
  grid-template-columns: 3fr 1fr;
  width: 60rem;
  height: 40rem;
  border: 20px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.top-panel {
  display: flex;
  grid-row: 1;
  grid-column: 1 / span 2;
  background-color: lightgray;
}

.logo {
  font-family: 'Impact';
  font-weight: bold;
  font-size: 2rem;
  align-self: flex-end;
  margin-top: 1rem;
  margin-left: 1rem;
}

.sub-logo {
  font-family: 'Arial Narrow';
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
  align-self: flex-end;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
}

.master-panel {
  display: flex;
  grid-row: 2 / span 4;
  background-color: gray;
}

.control-panel {
  display: flex;
  grid-row: 2;
  background-color: gray;
}

.programming-panel {
  display: flex;
  grid-row: 3;
  background-color: gray;
}

.performance-panel {
  display: flex;
  grid-row: 4;
  background-color: gray;
}

.pads-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-row: 5;
  background-color: gray;
}

.pad-select-button {
  width: 2rem;
  height: 2rem;
  background-color: white;
  outline: none;
  border-width: 0.2rem;
  border-style: outset;
  align-self: center;
}

.pad-select-button:active {
  border-style: inset;
}

.pad-group-leds {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.led-and-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.led-label {
  font-family: 'Arial Narrow';
  font-size: 0.5rem;
  color: white;
}

.pad-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pad {
  width: 4rem;
  height: 4rem;
  background-color: black;
  outline: none;
  border-width: 0.5rem;
  border-style: outset;
}

.pad:active {
  border-style: inset;
}

.pad-label {
  margin: 0.2rem;
  font-family: 'Arial Narrow';
  font-size: 0.5rem;
  color: white;
}

.bottom-panel {
  display: flex;
  grid-row: 6;
  grid-column: 1 / span 2;
  background-color: lightgray;
}

.emu-logo {
  align-self: center;
  font-family: 'Arial Narrow';
  font-size: 1.5rem;
  margin-left: 1rem;
}