.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.space-evenly { justify-content: space-evenly; }

.led-off, .led-on {
  width: 0.2rem;
  height: 0.2rem;
  margin: 0.2rem;
  border-radius: 50%;
}

.led-off {
  background-color: black;
}

.led-on {
  background-color: red;
  box-shadow: 0rem 0rem 0.4rem 0.2rem red;
}

.knob-wrapper {
}

.knob-input {
  display: none;
}

.knob-svg {
}

.panel-header {
  font-family: 'Arial Narrow';
  font-size: 1.5rem;
  color: white;
}

.blue-rule {
  border: 1px solid blue;
  margin-left: 0;
}

.small-label {
  font-family: 'Arial Narrow';
  font-size: 0.5rem;
  color: white;
}

ul.small-label {
  list-style-type: none;
}

.center {
  text-align: center;
}

.button-section {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.button-with-label {
  display: flex;
  flex-direction: column;
}

.button-with-list {
  display: flex;
  flex-direction: row;
}

.button-with-led {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.machine {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 4fr 1fr;
  grid-template-columns: 3fr 1fr;
  width: 60rem;
  height: 48rem;
  border: 20px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.top-panel {
  display: flex;
  grid-row: 1;
  grid-column: 1 / span 2;
  background-color: lightgray;
}

.logo {
  font-family: 'Impact';
  font-weight: bold;
  font-size: 2rem;
  align-self: flex-end;
  margin-top: 1rem;
  margin-left: 1rem;
}

.sub-logo {
  font-family: 'Arial Narrow';
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
  align-self: flex-end;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
}

.control-panel {
  display: flex;
  flex-direction: row;
  grid-row: 2;
  background-color: gray;
  padding: 1rem;
}

.master-panel {
  display: flex;
  flex-direction: column;
  grid-row: 2 / span 3;
  background-color: gray;
  padding: 1rem;
}

.screen {
  font-family: "Pixel UniCode";
  font-size: 2rem;
  width: 92.5%;
  background-color: greenyellow;
  border: 0.2rem solid greenyellow;
  border-style: outset;
  align-self: center;
}

.screen tr {
  line-height: 2rem;
}

.volume-knobs-section {
  display: flex;
  flex-direction: row;
}

.number-pad {
  width: 10rem;
  align-self: center;
}

.number-pad td {
  vertical-align: top;
}

.play-buttons {
  display: flex;
  flex-direction: row;
}

.programming-panel {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  grid-row: 3;
  background-color: gray;
}

.programming-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.performance-panel {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  grid-row: 4;
  background-color: gray;
}

.performance-controls {
  display: grid;
  grid-template-columns: repeat( 10, 1fr );
  height: 8rem;
}

.hatch-marks {
  grid-row: 1;
  grid-column: 3 / span 8;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.hatch-mark {
  width: 100%;
  border: 1px solid white;
}

.slider-wrapper {
  position: relative;
  display: inline-block;
  width: 30px;
  z-index: 2;
  top: 35%;
  left: -50%;
}

.slider {
  background: transparent;
  /* width: 115px; */
  -webkit-appearance: none;
  transform-origin: center;
  transform: rotate( 270deg );
  -moz-transform: rotate( 270deg );
  cursor: pointer;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  background: black;
  height: 2px;
}

.slider::-moz-range-track {
  background: black;
  height: 2px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 0;
  background: url( "assets/pot.svg" );
  transform: rotate( 270deg );
  -moz-transform: rotate( 270deg );
  transform-origin: center;
  margin-top: -15px;
}

.slider::-moz-range-thumb {
  width: 60px;
  height: 30px;
  border: 0;
  background: url( "assets/pot.svg" );
  transform: rotate( 270deg );
  -moz-transform: rotate( 270deg );
  transform-origin: center;
}

.pads-panel {
  display: grid;
  grid-template-columns: repeat( 10, 1fr );
  grid-row: 5;
  background-color: gray;
}

.white-select-button {
  width: 2rem;
  height: 2rem;
  background-color: white;
  outline: none;
  border-width: 0.2rem;
  border-style: outset;
  align-self: center;
}

.white-select-button:active {
  border-style: inset;
}

.red-select-button {
  width: 2rem;
  height: 2rem;
  background-color: red;
  outline: none;
  border-width: 0.2rem;
  border-style: outset;
  align-self: center;
}

.red-select-button:active {
  border-style: inset;
}

.labeled-leds {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.led-and-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pad-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pad {
  width: 4rem;
  height: 4rem;
  background-color: black;
  outline: none;
  border-width: 0.5rem;
  border-style: outset;
}

.pad:active {
  border-style: inset;
}

.bottom-panel {
  display: flex;
  grid-row: 5;
  grid-column: 1 / span 2;
  background-color: lightgray;
}

.emu-logo {
  align-self: center;
  font-family: 'Arial Narrow';
  font-size: 1.5rem;
  margin-left: 1rem;
}